<div class="card container mt-5">
    <div class="card mt-2">
      <h1 class="d-flex align-self-center mt-2">Task Details</h1>
        <div class="card-boby p-2 mt-2">
            <div class="d-flex justify-content-between mb-3">
              <div class="p-2">
                <input type="text" class="form-control" [(ngModel)]="SearchText" placeholder="Search Task....">
              </div>
              <div class="ml-auto p-2">
                <button type="button" class="btn btn-success" (click)="addTask()">New Task</button>
              </div>
            </div>
            <table class="table table-hover mt-5">
              <thead class="table-info p-2">
                <tr >
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Description</th>
                  <th scope="col">Due Date</th>
                  <th scope="col">Priority</th>
                  <th scope="col">Assignee</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tasks| taskFilter: SearchText; ">
                  <th scope="row">{{item.id}}</th>
                  <td>{{item.title}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.dueDate | date : "dd/mm/yyyy"}}</td>
                  <td>{{item.priority}}</td>
                  <td>{{item.user.name}}</td>
                  <td class="d-flex">
                    <button class="btn btn-warning me-2" (click)="onEdit(item.id)"> <i class="bi bi-pencil-square"></i></button>
                    <button class="btn btn-danger" (click)="onDelete(item.id)"> <i class="bi bi-trash"></i></button>
                  </td>
                </tr>
                
              </tbody>
            </table>
          </div>        
    </div>
</div>


